.kth-unit-summary {
    border: 1px solid silver;
    padding: 10px;
    border-radius: 5px;

    .unit-props {

        .prop-title {
            display: inline-block;
            margin-right: 10px;
        }

    }
}
