@mixin team-block {
    border: 1px solid silver;
    float: left;
    width: 300px;
    border-radius: 5px;
    margin-right: 20px;
}

.kth-dashboard {
    .team {
        @include team-block();
        
        .wrapper {
            margin: 10px;
        }
        .team-name {
            font-size: 130%;
            margin-bottom: 10px;
        }
        .team-faction {
            font-size: 115%;
            margin-bottom: 10px;
        }
        .units {
            .unit {
                font-size: 105%;
                margin-bottom: 5px;
            }
        }
        .actions {
            margin-top: 10px;
        }
    }
    .add-team-ui {
        @include team-block();
        text-align: center;
        padding: 30px 0;
    }
}
