.page-wrapper {
    font-family: calibri;
    padding: 20px 40px;
}

.page-header {
    .page-title {
        font-size: 30px;
        a {
            text-decoration: none;
            color: black;
        }
    }
    border-bottom: 1px solid silver;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }